body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=========== HEADER ===========*/
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  display: block;
  unicode-bidi: isolate;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
  display: flex;
  align-items: center;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-web-header {
  color: #2e2f42;
}

.logo-web-header:hover {
  opacity: 0.7;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.menu-list {
  display: flex;
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  max-width: 261px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.menu-item {
  max-width: Hug (261px) px;
  height: Fixed (48px) px;
  top: 24px;
  left: 347px;
  gap: 40px;
  opacity: 0px;

  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link :hover,
.menu-link :focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.contact-address {
  box-sizing: border-box;
  font-style: normal;
  margin-left: auto;
  height: 24px;
  line-height: 18px;
  margin-left: 235px;
  tab-size: 4;
  text-size-adjust: 100%;
  width: 345px;
}
.address {
  display: block;
  unicode-bidi: isolate;
  font-family: "Roboto", sans-serif;
  unicode-bidi: isolate;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.contact-address-list {
  font-style: normal;
  margin-left: auto;
  display: flex;
  gap: 40px;
}

.address-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}
/*-------- HERO---------*/
main {
  display: block;
  unicode-bidi: isolate;
}
.hero-first-section {
    background-color: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 188px;
    padding-top: 188px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
}

/*
ul.features-blocks {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.fb-img {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
}
.fb-img img {
  padding: 24px 0px;
}
ul.features-blocks {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

